# General Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
db.sqlite3
media/
staticfiles/

# Pipenv / Environment variables
.env
.venv/
venv/
.pipenv/

# IDE settings (optional but recommended)
.vscode/
.idea/
.agents/

# OS files
.DS_Store
Thumbs.db